<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="A FORMA MAIS SIMPLES, RÁPIDA E EFICAZ DE FAZER UMA RECLAMAÇÃO CONTRA UMA EMPRESA" content="">

    <meta property="og:url"                content="https://www.vouatras.com" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Envie uma reclamação ao PROCON-SP." />
    <meta property="og:description"        content="Cancelamento de passagens aéreas, tarifas bancárias, produtos ou serviços com defeitos, cobranças em bares, restaurantes ou baladas, contas domésticas. Qualquer problema que você tiver perante um empresa pode ser reclamado." />
    <meta property="og:image"              content="/img/justice.png" />

    <title>Vou Atrás</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Pagarme.JS -->
    <script src="https://assets.pagar.me/js/pagarme.min.js"></script>

</head>

<body id="page-top">

  <!-- Facebook JavaScript SDK -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">VOU ATRÁS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Como funciona</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#reclamar">Do que posso reclamar?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#custo">Quanto custa?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#duvidas">Tirar dúvidas</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#privacidade">Privacidade</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Fazemos reclamações contra empresas para você!</h1>
                <hr>
                <h3>Envie uma reclamação ao PROCON-SP.</h3>

                <a href="#reclamacao" class="btn btn-primary btn-xl page-scroll">Enviar Reclamação</a>
                <br/>
                <br/>
                <div class="row">
                  <div class="center-block col-md-5" style="float: none;">
                      <h5>No momento, fazemos reclamações junto ao Procon de São Paulo. Em breve, expandiremos para outros estados.</h5>
                  </div>
                </div>
            </div>
        </div>
    </header>

    <!-- ~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Como Funciona section -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~ -->
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">

              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">COMO FUNCIONA</h2>
                  <hr class="primary">
              </div>

              <div class="container">
                  <div class="row">
                      <div class="col-lg-3 col-md-6 text-center">
                          <div class="service-box">
                              <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
                              <i class="fa fa-pencil fa-4x wow bounceIn"></i>
                              <br/><br/>
                              <p>Descreva seu problema e envie os documentos de compra ou pedido.</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 text-center">
                          <div class="service-box">
                              <i class="fa fa-4x fa-paper-plane wow bounceIn" data-wow-delay=".1s"></i>
                              <br/><br/>
                              <p>Escrevemos, preparamos e revisamos sua reclamação.</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 text-center">
                          <div class="service-box">
                              <i class="fa fa-4x fa-credit-card wow bounceIn" data-wow-delay=".2s"></i>
                              <br/><br/>
                              <p>Pague 15% do valor correspondente para enviarmos sua reclamação.</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 text-center">
                          <div class="service-box">
                              <i class="fa fa-4x fa-heart wow bounceIn" data-wow-delay=".3s"></i>
                              <br/><br/>
                              <p>Receba atualizações sobre suas reclamações e tire suas dúvidas.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <br />
              <br />
              <br />
              <div class="row">
                <div class="center-block col-xs-12 col-sm-8 col-md-6 col-lg-5 alert alert-warning" style="float: none;">

                  <strong>Importante</strong>: escrevemos e preparamos sua reclamação, mas não nos responsabilizamos
                  pela aprovação da reclamação por parte do Procon-SP e/ou atendimento da reclamação
                  por parte da empresa reclamada. Veja nossos <a href="" data-dismiss="modal" data-toggle="modal" data-target=".tos-modal">Termos de Uso e Política de Privacidade.</a>
                </div>
              </div>

            </div>
        </div>
    </section>

    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- Reclamar section  -->
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <section id="reclamar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">DO QUE POSSO RECLAMAR?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="lead">
                  Cancelamento de passagens aéreas, tarifas bancárias, produtos ou serviços com defeitos,
                  cobranças em bares, restaurantes ou baladas, contas domésticas...
                  Qualquer problema que você tiver perante um empresa pode ser reclamado.
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="text-center">
                <p>
                  Se tiver alguma dúvida antes de enviar sua reclamação, fale com a gente!
                </p>
              </div>
            </div>
            <div class="row">
              <div class="text-center">

                  <a class="btn btn-primary btn-xl wow tada page-scroll" href="#duvidas">Tirar dúvidas</a>

                  </br>
                  ou <a href="mailto:vouatras2016@gmail.com">vouatras2016@gmail.com</a>
              </div>
            </div>

        </div>
    </section>


    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!--   Custo section   -->
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <section class="bg-primary" id="custo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">QUANTO CUSTA?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <i class="fa fa-4x fa-users wow bounceIn"></i>
                <h2 class="lead">
                  Só 15% do valor da reclamação.
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="lead">
                  Acreditamos que todas as pessoas podem fazer reclamações e ter seus direitos respeitados.
                  Por isso, valorizamos a transparência e cobramos um único valor para você enviar sua reclamação:
                  15% do valor da reclamação.</br>
                </h3>
                <h5>Reclamações ou manifestações posteriores possuem valores adicionais.</h5></br>
                <p>
                  <a href="" style="color: black" data-dismiss="modal" data-toggle="modal" data-target=".tos-modal">Ver Termos de Uso</a>
                </p>
              </div>

            <div class="row">
              <div class="text-center">

                  <a class="btn btn-default btn-xl wow tada page-scroll" href="#reclamacao">Enviar reclamação</a>

              </div>
            </div>

        </div>
    </section>

    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!--  Dúvidas section  -->
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <section id="duvidas">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">TIRE SUAS DÚVIDAS</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <i class="fa fa-5x fa-question wow tada"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="lead">
                  Para qualquer dúvida ou desabafo, fale com a gente!
                </h3>
              </div>
            </div>

            <div class="row">
              <div class="text-center">

                  <a class="btn btn-primary btn-xl wow tada" data-toggle="modal" data-target=".contact-modal">Tirar Dúvidas</a>
                  </br>
                  ou <a href="mailto:vouatras2016@gmail.com">vouatras2016@gmail.com</a>
              </div>
            </div>

        </div>
    </section>

    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!--Privacidade Section-->
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <section class="bg-primary" id="privacidade">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="section-heading">PRIVACIDADE</h2>
            <hr class="primary">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <i class="fa fa-lock fa-5x wow tada"></i>
          </div>
        </div>
        <div class="row">
          <div class="center-block col-xs-10 col-sm-8 col-md-7 text-center" style="float: none;">
            <h3 class="lead">
              Cuidamos da sua privacidade e não compartilhamos suas informações com ninguém além do Procon-SP.
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <a href="#reclamacao" class="btn btn-default btn-xl page-scroll wow tada">Enviar Reclamação</a>
          </div>
        </div>
      </div>
    </section>

    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!--Reclamação Section --->
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <section id="reclamacao">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!-- <h2 class="section-heading">Insira seu nome e endereço de e-mail para
                      entrarmos em contato solicitando todas as informações para sua reclamação.</h2> -->
                    <h2 class="section-heading">INSIRA SEU NOME E ENDEREÇO DE E-MAIL PARA
                      ENTRARMOS EM CONTATO SOLICITANDO TODAS AS INFORMAÇÃOES PARA SUA RECLAMAÇÃO</h2>
                    <hr class="primary">
                    <form class="reclamacao-form" action="/reclamacao" method="POST">
                      <input type="text" class="form-control center" id="input-name-reclamacao" name="name" placeholder="Nome completo" required>
                    </br>
                      <input type="email" class="form-control center" id="input-email-reclamacao" name="email" placeholder="Endereço de e-mail"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                    </br>
                      <button type="submit" class="btn btn-primary btn-xl wow tada" data-dismiss="modal" data-toggle="modal">Enviar</button>
                      <!-- data-target=".reclamacao-thank-you-modal" -->
                    </form>
                    <br />
                    <br />
                    <div class="row">
                      <div class="center-block col-xs-10 col-sm-8 col-md-7 alert alert-warning" style="float: none;">
                        Ao enviar e solicitar que entremos em contato, você concorda com os
                        <a href="" data-dismiss="modal" data-toggle="modal" data-target=".tos-modal">Termos de Uso e Política de Privacidade</a>
                        do Vou Atrás.
                      </div>
                    </div>

                </div>
            </div>
    </section>

    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!--     NEWSLETTER    -->
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <section class="bg-primary" id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">NEWSLETTER</h2>
                    <hr class="primary">
                    <p>Deixe seu e-mail para receber novidades sobre a gente e seus direitos!</p>

                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                    <form action="//github.us8.list-manage.com/subscribe/post?u=a6e3c2e9768ca391262b1e773&amp;id=c0c0ec6ae8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                    	<input type="email" class="form-control center" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Endereço de e-mail" required>
                      <br>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                          <input type="text" name="b_a6e3c2e9768ca391262b1e773_c0c0ec6ae8" tabindex="-1" value=""></div>
                          <div class="clear">
                            <input type="submit" class="btn btn-default wow tada" value="Cadastrar" name="subscribe" id="mc-embedded-subscribe" class="button">
                            <!-- <button type="button" class="btn btn-default wow tada">Cadastrar</button> -->
                          </div>
                        </div>
                    </form>

                    </div>

                    <!--End mc_embed_signup-->

                    <!-- <form class="">
                      <input type="email" class="form-control center" id="input-email" placeholder="Endereço de e-mail">
                    </br>
                      <button type="button" class="btn btn-default wow tada">Cadastrar</button>
                    </form>
                    <br/>
                    <br/>
                    <div class="row">
                      <div class="center-block col-md-6" style="float: none;">
                          <h5>No momento, fazemos reclamações junto ao Procon de São Paulo. Em breve, expandiremos para outros estados.</h5>
                      </div>
                    </div>
                </div> -->
                <!-- <p>No momento, fazemos reclamações junto ao Procon de São Paulo. Em breve, expandiremos para outros estados.</p> -->
            </div>
    </section>

    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!--      MODALS       -->
    <!-- ~~~~~~~~~~~~~~~~~ -->

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Pagamento amount modal -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="modal fade payment-amount-modal text-center" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-md">
          <div class="modal-content">
            <h3 class="modal-title">Valor da reclamação</h3>
            <div class="modal-body">
              <h5 class="text-left">
                Insira o valor da reclamação (valor da compra, do contrato ou do pedido) para calcularmos a taxa do Vou Atrás para escrevermos, revisarmos e enviarmos sua reclamação.
              </h5>
              <form class="payment-amount-form row">
                <label></label>
                <input class="form-control" type="text" pattern="\d*" id="input-pagar" style="font-size: 18px" placeholder="Ex: 1.500,00" maxlength="9">
                <div class="alert alert-danger fade in hidden" id="alert_placeholder">
                  <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>Problema:</strong> Esse valor é muito alto. Favor entre em contato conosco ou faça um pagamento abaixo de R$20.000.
                </div>

                <button type="button" id='btn-pagar' class="btn btn-lg btn-primary" data-dismiss="modal" data-toggle="modal" data-target=".select-payment-modal">Pagar taxa Vou Atrás para defender meus direitos</button>
              </form>
              <br />
              <div class="alert alert-info">
                <h5><strong>Importante</strong>: escrevemos e preparamos sua reclamação, mas não nos responsabilizamos
                pela aprovação da reclamação por parte do Procon-SP e/ou atendimento da reclamação
                por parte da empresa reclamada. Veja nossos <a href="" data-dismiss="modal" data-toggle="modal" data-target=".tos-modal">Termos de Uso e Política de Privacidade.</a></h5>
              </div>
            </div>
        </div>
      </div>
    </div>

    <!-- ~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Payment amount modal -->
    <!-- ~~~~~~~~~~~~~~~~~~~~ -->
    <!-- <div class="modal fade payment-amount-modal text-center" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <h3>Insira o valor da reclamação:</h3>
            <h5>
              Valor para prepararmos, revisarmos e enviarmos sua reclamação ao Procon-SP (iremos cobrar 15% do valor da reclamação):
            </h5>
            <form class="contact-form row">
              <label></label>
              <input type="number" class="form-control center" id="input-pagar" placeholder="Ex: 1500">
              <div class="alert alert-danger fade in hidden" id="alert_placeholder">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Atenção:</strong> Esse campo aceita somente números.
              </div>
              <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target=".select-payment-modal">Pagar</button>
            </form>
          </div>
        </div>
      </div> -->


    <!-- ~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Select payment modal -->
    <!-- ~~~~~~~~~~~~~~~~~~~~ -->
    <div class="modal fade select-payment-modal text-center" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <h3>Forma de pagamento</h3>
          <p>
          <div class="btn-group" data-toggle="buttons">
            <label>
              <input type="radio" name="options" id="option1" autocomplete="off" checked> Cartão de crédito
            </label>
            <label>
              <input type="radio" name="options" id="option2" autocomplete="off"> Boleto
            </label>
          </div>
          <br/>
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target=".credit-card-modal">Próximo</button>
          </p>
        </div>
      </div>
    </div>

    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!-- Credit card modal -->
    <!-- ~~~~~~~~~~~~~~~~~ -->
    <div class="modal fade credit-card-modal text-center" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <h3 class="modal-title">Taxa Vou Atrás</h3>
          <div class="modal-body creditly-wrapper">
            <div class="alert alert-danger fade in hidden" id="cc_alert">
              <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <span id="cc_alert_placeholder"></span>
            </div>
            <form id="payment_form" action="/transactions/new" method="POST">
              <label>Número do cartão:</label>
              <input class="credit-card-number form-control"
                type="text" id="card_number" name="number" pattern="\d*" inputmode="numeric"
                autocomplete="cc-number" autocompletetype="cc-number" x-autocompletetype="cc-number"
                placeholder="&#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149;"/>
              <br/>
              <label>Nome (como escrito no cartão):</label>
              <input class="billing-address-name form-control" id="card_holder_name" type="text" name="name" placeholder="Nome e sobrenome"/>
              <br/>
              <label>Data de validade:</label>
              <input class="expiration-month-and-year form-control" type="text"
                name="expiration-month-and-year" placeholder="MM / AA" id="card_expiration_month"/>
              <br/>
              <label>Código de segurança:</label>
              <input type="text" id="card_cvv"
                class="security-code form-control" inputmode="numeric" pattern="\d*"
                type="text" name="security-code" placeholder="&#149;&#149;&#149;"/>
              <br/>
              <input type="submit" class="btn btn-primary" value="Finalizar Pagamento">
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Boleto confirm modal -->
    <!-- ~~~~~~~~~~~~~~~~~~~~ -->
    <div class="modal fade boleto-confirm-modal text-center" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-md">
          <div class="modal-content">
            <h3 class="modal-title">Taxa Vou Atrás: R$</h3>
            <div class="modal-body">
              <h4>
                Confirmo que o valor está correto (15% do valor da reclamação).
              </h4>
              <br />
              <form id="select-payment-form" action="/boletotransactions/new" method="POST">
                <input type="submit" class="btn btn-primary" value="Gerar Boleto">
                <button type="submit" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target=".payment-amount-modal">Voltar</button>
              </form>
              <br />
            </div>
        </div>
      </div>
    </div>

    <!-- ~~~~~~~~~~~~~~~~~~~ -->
    <!-- Contact modal -->
    <!-- ~~~~~~~~~~~~~~~~~~~ -->
    <div class="modal fade contact-modal text-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="form-area">
          <form role="form" action="/contact" method="POST">
            <br style="clear:both">
            <h3 style="margin-bottom: 25px; text-align: center;">Formulário de contato</h3>
            <div class="form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Nome completo" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="email" name="email" placeholder="E-mail" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="subject" name="subject" placeholder="Assunto" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Dúvida" maxlength="1500" rows="7"></textarea>
              <span class="help-block">
                <p id="characterLeft" class="help-block">Você alcançou o seu limite.</p>
              </span>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Enviar</button>
          </form>
        </div>
      </div>
    </div>

    <!-- ~~~~~~~~~~~~~~~~~~~~ -->
    <!-- Terms of Services Modal -->
    <!-- ~~~~~~~~~~~~~~~~~~~~ -->


    <div class="modal fade tos-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center">TERMOS DE USO</h4>
          </div>
          <div class="modal-body">
            <p>Queremos que as empresas respeitem os seus direitos, e queremos que você tenha acesso a uma forma mais simples para enviar reclamações. </p>
            <p>Para isso, escrevemos, revisamos e enviamos sua reclamação ao Procon de São Paulo (Estado de São Paulo) para que você possa, facilmente, enviar sua reclamação e ter o seu direito atendido pela empresa reclamada.</p>
            <p>Entretanto, não podemos garantir que sua reclamação será atendida pelo Procon-SP e/ou pela empresa reclamada.</p>
            <p>Portanto, o valor que cobramos equivalente a 15% (quinze por cento) do montante reclamado é cobrado para escrevermos, revisarmos e enviarmos sua reclamação, independentemente de ser atendida. Caso seja atendida, não recebemos nada a mais!</p>
            <p>Mas, se você decidir acompanhamento em alguma audiência de conciliação do Procon-SP ou se decidir processar a empresa após a reclamação do Procon-SP, esses serviços serão cobrados separadamente.</p>
            <p>Estamos aqui para te ajudar a ter os seus direitos respeitados pelas empresas!</p>
            <p>Em caso de dúvidas ou se quiser desabafar com a gente sobre alguma empresa, nosso e-mail é <a href="mailto:vouatras2016@gmail.com">vouatras2016@gmail.com</a>.</p>
            <br />
            <h4 class="text-center"><strong>POLÍTICA DE PRIVACIDADE</strong></h4>
            <br />
              <p>Para nós, privacidade é um assunto sério: não compartilhamos seus dados com ninguém além do Procon-SP e da empresa reclamada. Todos os dados que pedimos para escrever sua reclamação são solicitados pelo Procon-SP, não por nós! </p>
              <p>Se ainda estiver com alguma dúvida ou preocupação sobre a sua privacidade, escreva para a gente em <a href="mailto:vouatras2016@gmail.com">vouatras2016@gmail.com</a>.</p>
          </div>
          </p>
        </div>
      </div>
    </div>

    <!-- ~~~~~~~~~~~~~~~~~ -->
    <!--  END OF MODALS    -->
    <!-- ~~~~~~~~~~~~~~~~~ -->

    <footer class="navbar-default clear-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 text-center">
            <p class="text-muted small">
              Vou Atrás</br>
              <a href="mailto:vouatras2016@gmail.com">vouatras2016@gmail.com</a>
            </p>
          </div>
          <div class="col-md-3 text-center">
            <p class="text-muted small">
              <a href="" data-dismiss="modal" data-toggle="modal" data-target=".tos-modal">Termos de Uso e Política de Privacidade</a>
            </p>
          </div>
          <div class="col-md-3 text-center">
            <p class="text-muted small">
              Copyright Vou Atrás 2016 –
              Todos os direitos reservados
            </p>
          </div>
          <div class="col-md-3 text-center">
            <div class="fb-like" data-href="http://www.vouatras.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
          </div>
        </div>
      </div>
    </footer>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- jQuery Number -->
    <script src="js/jquery.number.min.js"></script>

    <!-- Accounting.js -->
    <script src="js/accounting.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

    <!-- credit card form validation -->
    <script type="text/javascript" src="js/creditly.js"></script>

    <!-- Vou Atrás JavaScript -->
    <script src="js/main.js"></script>

</body>

</html>
