<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Rollbar error tracking -->
    <script>
    var _rollbarConfig = {
      accessToken: "e05aed8bf68a439db8671aa25a3a34cd",
      captureUncaught: true,
      payload: {
          environment: "test"
      }
    };

    !function(r){function o(e){if(t[e])return t[e].exports;var n=t[e]={exports:{},id:e,loaded:!1};return r[e].call(n.exports,n,n.exports,o),n.loaded=!0,n.exports}var t={};return o.m=r,o.c=t,o.p="",o(0)}([function(r,o,t){"use strict";var e=t(1).Rollbar,n=t(2);_rollbarConfig.rollbarJsUrl=_rollbarConfig.rollbarJsUrl||"https://d37gvrvc0wt4s1.cloudfront.net/js/v1.8/rollbar.min.js";var a=e.init(window,_rollbarConfig),i=n(a,_rollbarConfig);a.loadFull(window,document,!_rollbarConfig.async,_rollbarConfig,i)},function(r,o){"use strict";function t(r){return function(){try{return r.apply(this,arguments)}catch(o){try{console.error("[Rollbar]: Internal error",o)}catch(t){}}}}function e(r,o,t){window._rollbarWrappedError&&(t[4]||(t[4]=window._rollbarWrappedError),t[5]||(t[5]=window._rollbarWrappedError._rollbarContext),window._rollbarWrappedError=null),r.uncaughtError.apply(r,t),o&&o.apply(window,t)}function n(r){var o=function(){var o=Array.prototype.slice.call(arguments,0);e(r,r._rollbarOldOnError,o)};return o.belongsToShim=!0,o}function a(r){this.shimId=++s,this.notifier=null,this.parentShim=r,this._rollbarOldOnError=null}function i(r){var o=a;return t(function(){if(this.notifier)return this.notifier[r].apply(this.notifier,arguments);var t=this,e="scope"===r;e&&(t=new o(this));var n=Array.prototype.slice.call(arguments,0),a={shim:t,method:r,args:n,ts:new Date};return window._rollbarShimQueue.push(a),e?t:void 0})}function l(r,o){if(o.hasOwnProperty&&o.hasOwnProperty("addEventListener")){var t=o.addEventListener;o.addEventListener=function(o,e,n){t.call(this,o,r.wrap(e),n)};var e=o.removeEventListener;o.removeEventListener=function(r,o,t){e.call(this,r,o&&o._wrapped?o._wrapped:o,t)}}}var s=0;a.init=function(r,o){var e=o.globalAlias||"Rollbar";if("object"==typeof r[e])return r[e];r._rollbarShimQueue=[],r._rollbarWrappedError=null,o=o||{};var i=new a;return t(function(){if(i.configure(o),o.captureUncaught){i._rollbarOldOnError=r.onerror,r.onerror=n(i);var t,a,s="EventTarget,Window,Node,ApplicationCache,AudioTrackList,ChannelMergerNode,CryptoOperation,EventSource,FileReader,HTMLUnknownElement,IDBDatabase,IDBRequest,IDBTransaction,KeyOperation,MediaController,MessagePort,ModalWindow,Notification,SVGElementInstance,Screen,TextTrack,TextTrackCue,TextTrackList,WebSocket,WebSocketWorker,Worker,XMLHttpRequest,XMLHttpRequestEventTarget,XMLHttpRequestUpload".split(",");for(t=0;t<s.length;++t)a=s[t],r[a]&&r[a].prototype&&l(i,r[a].prototype)}return r[e]=i,i})()},a.prototype.loadFull=function(r,o,e,n,a){var i=function(){var o;if(void 0===r._rollbarPayloadQueue){var t,e,n,i;for(o=new Error("rollbar.js did not load");t=r._rollbarShimQueue.shift();)for(n=t.args,i=0;i<n.length;++i)if(e=n[i],"function"==typeof e){e(o);break}}"function"==typeof a&&a(o)},l=!1,s=o.createElement("script"),u=o.getElementsByTagName("script")[0],p=u.parentNode;s.crossOrigin="",s.src=n.rollbarJsUrl,s.async=!e,s.onload=s.onreadystatechange=t(function(){if(!(l||this.readyState&&"loaded"!==this.readyState&&"complete"!==this.readyState)){s.onload=s.onreadystatechange=null;try{p.removeChild(s)}catch(r){}l=!0,i()}}),p.insertBefore(s,u)},a.prototype.wrap=function(r,o){try{var t;if(t="function"==typeof o?o:function(){return o||{}},"function"!=typeof r)return r;if(r._isWrap)return r;if(!r._wrapped){r._wrapped=function(){try{return r.apply(this,arguments)}catch(o){throw o._rollbarContext=t()||{},o._rollbarContext._wrappedSource=r.toString(),window._rollbarWrappedError=o,o}},r._wrapped._isWrap=!0;for(var e in r)r.hasOwnProperty(e)&&(r._wrapped[e]=r[e])}return r._wrapped}catch(n){return r}};for(var u="log,debug,info,warn,warning,error,critical,global,configure,scope,uncaughtError".split(","),p=0;p<u.length;++p)a.prototype[u[p]]=i(u[p]);r.exports={Rollbar:a,_rollbarWindowOnError:e}},function(r,o){"use strict";r.exports=function(r,o){return function(t){if(!t&&!window._rollbarInitialized){var e=window.RollbarNotifier,n=o||{},a=n.globalAlias||"Rollbar",i=window.Rollbar.init(n,r);i._processShimQueue(window._rollbarShimQueue||[]),window[a]=i,window._rollbarInitialized=!0,e.processPayloads()}}}}]);
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="A FORMA MAIS SIMPLES, RÁPIDA E EFICAZ DE FAZER UMA RECLAMAÇÃO CONTRA UMA EMPRESA" content="">

    <meta property="og:url"                content="https://meusdireitos.herokuapp.com" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Envie uma reclamação ao PROCON-SP." />
    <meta property="og:description"        content="Cancelamento de passagens aéreas, tarifas bancárias, produtos ou serviços com defeitos, cobranças em bares, restaurantes ou baladas, contas domésticas. Qualquer problema que você tiver perante um empresa pode ser reclamado." />
    <meta property="og:image"              content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />

    <title>Meus Direitos</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Pagarme.JS -->
    <script src="https://assets.pagar.me/js/pagarme.min.js"></script>

</head>

<body id="page-top">

  <!-- Facebook JavaScript SDK -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">MEUS DIREITOS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Como funciona</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Do que posso reclamar?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#custo">Quanto custa?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#duvidas">Tira suas dúvidas</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#privacidade">Privacidade</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>A forma mais simples, rápida e eficaz de fazer uma reclamação contra uma empresa</h1>
                <hr>
                <h3>Envie uma reclamação ao PROCON-SP.</h3>

                <a href="#reclamacao" class="btn btn-primary btn-xl page-scroll">Enviar Reclamação</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">

              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">COMO FUNCIONA</h2>
                  <hr class="primary">
              </div>

              <div class="container">
                  <div class="row">
                      <div class="col-lg-3 col-md-6 text-center">
                          <div class="service-box">
                              <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
                              <i class="fa fa-pencil fa-4x wow bounceIn"></i>
                              <h3>Seu Problema</h3>
                              <p>Descreva seu problema e envie os documentos de compra ou pedido.</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 text-center">
                          <div class="service-box">
                              <i class="fa fa-4x fa-paper-plane wow bounceIn" data-wow-delay=".1s"></i>
                              <h3>Ajuda</h3>
                              <p>Escrevemos, preparamos e revisamos sua reclamação.</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 text-center">
                          <div class="service-box">
                              <i class="fa fa-4x fa-credit-card wow bounceIn" data-wow-delay=".2s"></i>
                              <h3>Baixo Custo</h3>
                              <p>Pague 15% do valor correspondente para enviarmos sua reclamação.</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 text-center">
                          <div class="service-box">
                              <i class="fa fa-4x fa-heart wow bounceIn" data-wow-delay=".3s"></i>
                              <h3>Atendimento Garantido</h3>
                              <p>Receba atualizações sobre suas reclamações e tire suas dúvidas.</p>
                          </div>
                      </div>
                  </div>
              </div>

            </div>
        </div>
    </section>

    <!-- <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">A FORMA MAIS SIMPLES, RÁPIDA E EFICAZ DE FAZER UMA RECLAMAÇÃO CONTRA UMA EMPRESA. Descreva seu problema e envie os documentos de compra ou pedido. Escrevemos, preparamos e revisamos sua reclamação. Pague 15% do valor correspondente para enviarmos sua reclamação. Receba atualizações sobre suas reclamações e tire suas dúvidas.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </section> -->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">DO QUE POSSO RECLAMAR?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-lg-8 col-sm-offset-2 text-center">
                <h3 class="lead">
                  Cancelamento de passagens aéreas, tarifas bancárias, produtos ou serviços com defeitos,
                  cobranças em bares, restaurantes ou baladas, contas domésticas.
                  Qualquer problema que você tiver perante um empresa pode ser reclamado.
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="text-center">
                <p>
                  Se tiver alguma dúvida antes de enviar sua reclamação, fale a com gente!
                </p>
              </div>
            </div>
            <div class="row">
              <div class="text-center">

                  <a class="btn btn-default btn-xl wow tada page-scroll" href="#duvidas">Tirar dúvidas</a>

                  </br>
                  ou <a href="mailto:your-email@your-domain.com">contato@XXX.com.br</a>
              </div>
            </div>

        </div>
    </section>


    <section class="bg-primary" id="custo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">QUANTO CUSTA?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-lg-8 col-sm-offset-2 text-center">
                <i class="fa fa-4x fa-users wow bounceIn"></i>
                <h2 class="lead">
                  Só 15% do valor da reclamação.
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-sm-offset-2 text-center">
                <h3 class="lead">
                  Acreditamos que todas as pessoas podem fazer reclamações e ter seus direitos respeitados.
                  Por isso, valorizamos a transparência e cobramos um único valor para você enviar sua reclamação:
                  15% do valor da reclamação.</br></br>
                  Reclamações ou manifestações posteriores não inclusas no valor.</br>
                </h3>
                <p>
                  <a href="#" style="color: black">Ver Termos de Uso.</a>
                </p>
              </div>

            <div class="row">
              <div class="text-center">

                  <a class="btn btn-default btn-xl wow tada page-scroll" href="#reclamacao">Enviar reclamação</a>

              </div>
            </div>

        </div>
    </section>

    <section id="duvidas">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">TIRE SUAS DÚVIDAS</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-lg-8 col-sm-offset-2 text-center">
                <i class="fa fa-5x fa-question wow tada"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-sm-offset-2 text-center">
                <h3 class="lead">
                  Para qualquer dúvida ou desabafo, fale com a gente!
                </h3>
              </div>
            </div>

            <div class="row">
              <div class="text-center">

                  <a class="btn btn-default btn-xl wow tada" data-toggle="modal" data-target=".contact-modal">Tirar dúvidas</a>
                  </br>
                  ou <a href="mailto:your-email@your-domain.com">contato@XXX.com.br</a>
              </div>
            </div>

        </div>
    </section>

    <section class="bg-primary" id="privacidade">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="section-heading">PRIVACIDADE</h2>
            <hr class="primary">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <i class="fa fa-lock fa-5x wow tada"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-offset-3 text-center">
            <h3 class="lead">
              Cuidamos da sua privacidade e não compartilhamos suas informações com ninguém além do Procon-SP.
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <a href="#reclamacao" class="btn btn-default btn-xl page-scroll">Enviar Reclamação</a>
          </div>
        </div>
      </div>
    </section>


    <section class="bg-secondary" id="reclamacao">
        <div class="container text-center">

                <div class="call-to-action">
                    <h2>Insira o valor da reclamação:</h2>
                    <form class="contact-form row">
                        <div class="col-md-12">
                            <label></label>
                            <input type="number" class="form-control center" id="input-pagar" placeholder="Ex: 1500">
                            <!-- <div id="#alert_placeholder"></div> -->
                            <div class="alert alert-danger fade in hidden" id="alert_placeholder">
                              <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              <strong>Atenção:</strong> Esse campo aceita somente números.
                            </div>

                        </div>
                    </form>
                    <p class="text-faded">Valor para prepararmos, revisarmos e enviarmos sua reclamação ao Procon-SP (iremos cobrar 15% do valor da reclamação):</p>
                    <a class="btn btn-default btn-xl wow tada" data-toggle="modal" data-target=".select-payment-modal" id="btn-pagar">Pagar e enviar reclamação</a>
                    <!-- Trigger the modal with a button -->

                    <!-- Small modal -->
                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".select-payment-modal">Small modal</button> -->

                    <!-- ~~~~~~~~~~~~~~~~~~~~ -->
                    <!-- Select payment modal -->
                    <!-- ~~~~~~~~~~~~~~~~~~~~ -->

                    <div class="modal fade select-payment-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <h3>Forma de pagamento</h3>
                          <p>
                            <form id="select-payment-form" action="/boletotransactions/new" method="POST">
                            <!-- <form id="payment_form" action="/transactions/new" method="POST"> -->
                              <div class="btn-group" data-toggle="buttons">
                                  <label>
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Cartão de crédito
                                  </label>
                                  <label>
                                    <input type="radio" name="options" id="option2" autocomplete="off"> Boleto
                                  </label>

                              </div>
                            <br/>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target=".credit-card-modal">Próximo</button>
                            </form>
                          </p>
                        </div>
                      </div>
                    </div>

                    <!-- ~~~~~~~~~~~~~~~~~ -->
                    <!-- Credit card modal -->
                    <!-- ~~~~~~~~~~~~~~~~~ -->

                    <div class="modal fade credit-card-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                       <div class="modal-dialog modal-sm">
                         <div class="modal-header">
                          <div class="modal-content">
                             <h4 class="modal-title">Cartão de crédito</h4>
                             <div class="modal-body creditly-wrapper">
                                <div class="alert alert-danger fade in hidden" id="cc_alert">
                                   <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                   <span id="cc_alert_placeholder"></span>
                                </div>
                                <form id="payment_form" action="/transactions/new" method="POST">
                                   <label>Número do cartão:</label>
                                   <input class="credit-card-number form-control"
                                      type="text" id="card_number" name="number" pattern="\d*" inputmode="numeric"
                                      autocomplete="cc-number" autocompletetype="cc-number" x-autocompletetype="cc-number"
                                      placeholder="&#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149;"/>
                                   <br/>
                                   <label>Nome (como escrito no cartão):</label>
                                   <input class="billing-address-name form-control" id="card_holder_name" type="text" name="name" placeholder="José Silva"/>
                                   <br/>
                                   <label>Expiração</label>
                                   <input class="expiration-month-and-year form-control" type="text"
                                      name="expiration-month-and-year" placeholder="MM / AA" id="card_expiration_month"/>
                                  <br/>
                                   <label>Código de segurança:</label>
                                   <input type="text" id="card_cvv"
                                      class="security-code form-control" inputmode="numeric" pattern="\d*"
                                      type="text" name="security-code" placeholder="&#149;&#149;&#149;"/>
                                   <br/>
                                   <input type="submit" class="btn btn-primary" value="Finalizar Pagamento">
                                </form>
                             </div>
                             <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target=".first-example-modal">Small modal</button> -->
                          </div>
                         </div>
                         </div>
                    </div>

                    <!-- ~~~~~~~~~~~~~~~~~~~~~ -->
                    <!-- Payment success modal -->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~ -->

                    <!-- <div class="modal fade payment-success-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <h3>Third modal</h3>
                          <p>
                            Third modal
                            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target=".first-example-modal">Small modal</button>
                          </p>
                        </div>
                      </div>
                    </div> -->

                    <!-- ~~~~~~~~~~~~~~~~~~~ -->
                    <!-- Payment error modal -->
                    <!-- ~~~~~~~~~~~~~~~~~~~ -->

                    <!-- <div class="modal fade payment-error-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <h3>Third modal</h3>
                          <p>
                            Third modal
                            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target=".first-example-modal">Small modal</button>
                          </p>
                        </div>
                      </div>
                    </div>
                </div> -->

                <!-- ~~~~~~~~~~~~~~~~~~~ -->
                <!-- Contact modal -->
                <!-- ~~~~~~~~~~~~~~~~~~~ -->
                <div class="modal fade contact-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-lg">
                      <div class="form-area">
                         <form role="form" action="/contact" method="POST">
                            <br style="clear:both">
                            <h3 style="margin-bottom: 25px; text-align: center;">Formulário de contato</h3>
                            <div class="form-group">
                               <input type="text" class="form-control" id="name" name="name" placeholder="Nome completo" required>
                            </div>
                            <div class="form-group">
                               <input type="text" class="form-control" id="email" name="email" placeholder="E-mail" required>
                            </div>
                            <div class="form-group">
                               <input type="text" class="form-control" id="subject" name="subject" placeholder="Assunto" required>
                            </div>
                            <div class="form-group">
                               <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Dúvida" maxlength="1500" rows="7"></textarea>
                               <span class="help-block">
                                  <p id="characterLeft" class="help-block ">You have reached the limit</p>
                               </span>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Enviar</button>
                         </form>
                      </div>
                    </div>
                </div>

        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">NEWSLETTER</h2>
                    <hr class="primary">
                    <p>Deixe seu e-mail para receber novidades sobre a gente e seus direitos!</p>
                    <form class="">
                      <input type="email" class="form-control center" id="input-email" placeholder="Endereço de e-mail">
                    </br>
                      <button type="button" class="btn btn-default">Cadastrar</button>
                    </form>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-lg-offset-3 text-center">
                    <hr class="primary">
                    <a href="#reclamacao" class="btn btn-primary btn-xl page-scroll">Enviar Reclamação</a></br></br>
                    <p>No momento, fazemos reclamações junto ao Procon de São Paulo. Em breve, expandiremos para outros estados.</p>
                  </div>
                </div>

            </div>
        </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 text-center">
            <p class="text-muted">
              Meus Direitos</br>
              <a href="mailto:your-email@your-domain.com">contato@XXX.com.br</a>
            </p>

          </div>
          <div class="col-md-3 text-center">
            <p class="text-muted">
              Termos de Uso e Política de Privacidade
            </p>
          </div>
          <div class="col-md-3 text-center">
            <p class="text-muted">
              Copyright Meus Direitos 2016 –
              Todos os direitos reservados
            </p>

          </div>
          <div class="col-md-3 text-center">
            <div class="fb-like" data-href="https://meusdireitos.herokuapp.com" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

    <!-- credit card form validation -->
    <script type="text/javascript" src="js/creditly.js"></script>

    <!-- Meus Direitos JavaScript -->
    <script src="js/main.js"></script>

</body>

</html>
